html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #1c2229;
  font-family: "Roboto", sans-serif;
}
#btn {
  background: #f8d65e;
  padding: 20px 30px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#btn:hover {
  box-shadow: 0px 0px 30px #f8d65e33;
}

.item {
  color: #1c2229 !important;
  background: #f8d65e !important;
  margin: 6px 0;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s;
}
.item:hover {
  background: #dda231 !important;
  box-shadow: 0px 0px 30px #f8d65e33;
}

#risitas {
  width: 160px;
  margin-bottom: 10px;
  border-radius: 50%;
  animation-duration: 0.4s;
  animation-name: risi;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes risi {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
